.login-Register-info {
	background: #ffffff none repeat scroll 100% 0;
	border: 1px solid #d3ced2;
	border-radius: 5px;
	margin: 2em 0;
	padding: 20px;
}
.customer-login-register > h3 {
	line-height: 28px;
}
.bg-gray {
	background: #F5F7FA;
}
.login-register-area {
	padding: 60px 0 30px;
}
.coupon-input > input,
.checkout-coupon > input,
.single-form-row > input,
.single-form-row textarea {
	border: 1px solid #e5e5e5;
	height: 42px;
	padding: 0 10px 0 0;
	width: 100%;
}
.coupon-info p.form-row-first {
	float: right;
	width: 47%;
}
.coupon-info p.form-row-last {
	float: left;
	width: 47%;
}
.login-Register-info .button-login {
    background: #333333 none repeat scroll 100% 0;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    height: 40px;
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
label {
    line-height: 1.85;
}