@{
    TempData["Title"] = "ثبت عکس موزیک";
    TempData["PageName"] = "ثبت عکس موزیک";

}
<div>
    <h2>@TempData["Message"]</h2>
</div>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@TempData["Title"]</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->

    @model InsertMusicImageViewModel
    <form enctype="multipart/form-data" asp-area="admin" asp-controller="Music" asp-action="InsertMusicImageConfirm"
        asp-route-ReturnUrl="@ViewData["returnurl"]" asp-route-MusicId="@ViewData["musicid"]">
        <div class="card-body">

            <div class="form-group">
                <label for="exampleInputFile">ارسال عکس</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input asp-for="image" type="file" class="custom-file-input" id="exampleInputFile">
                        <label asp-for="image" class="custom-file-label" for="exampleInputFile">انتخاب عکس</label>
                    </div>
                    <span asp-validation-for="image"></span>

                </div>
            </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">ارسال</button>
        </div>
    </form>
</div>