@{
    TempData["Title"] = "ثبت موزیک";
    TempData["PageName"] = "ثبت موزیک";
}
@model InsertMusicViewModel

<div class="card card-success m-3 ">

    
    <form enctype="multipart/form-data" asp-area="admin" asp-controller="Music"
          asp-route-returnurl="@ViewData["returnurl"]" asp-action="InsertMusicConfirm">
        <div class="card-header">
            <h3 class="card-title">@TempData["Title"]</h3>
        </div>
        <div class="card-body p-2">

            <div class="row">
                <div class="col-md-6">
                    <div clas="form-group">
                        <label for="Name">نام موزیک</label>
                        <input type="text" id="Name" class="form-control" asp-for="Name" class="form-control">
                        <span asp-validation-for="Name"></span>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Title">موزیک</label>
                        <input type="text" asp-for="Title" class="form-control" id="Title">
                        <span asp-validation-for="Title"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>انتخاب تاریخ:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <input asp-for="Date" class="normal-example form-control pwt-datepicker-input-element">
                            <span asp-validation-for="Date"></span>
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @{
                            var genres = ViewData["Genres"] as List<Genre>;
                            <label>سبک</label>
                            <select asp-for="Genre" class="form-control">
                                <option selected>انتخاب کنید</option>
                                @foreach (var item in genres)
                                {
                                    <option>@item.GenreName</option>
                                }
                            </select>


                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Image" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="show-image-selected">
                        <img width="100" id="selected-image" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label>لینک 128</label>
                        <input type="text" asp-for="url128" class="form-control ">
                        <span asp-validation-for="url128"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label>لینک 320</label>
                        <input type="text" asp-for="url320" class="form-control ">
                        <span asp-validation-for="url320"></span>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">ارسال</button>
        </div>
        <script src="~/MusicJs/InsertMusic.js"></script>
    </form>
    <!-- /.card-body -->
</div>