@{
    TempData["Title"] = "ثبت عکس موزیک";
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">مثال ساده</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form">
        <div class="card-body">
            
            <div class="form-group">
                <label for="exampleInputFile">ارسال فایل</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">ارسال</button>
        </div>
    </form>
</div>