<div class="customer-login-register">
    <h3>ثبت نام</h3>
    <div class="login-Register-info">
        <form action="#">
            <div class="coupon-input form-group form-row-first">
                <label class="sr-only">نام <span class="required">*</span></label>
                <input class="form-control bg-white" type="text" name="Name">
            </div>
            <div class="coupon-input form-group form-row-first">
                <label>نام کاربری <span class="required">*</span></label>
                <input class="form-control" type="text" name="UserName">
            </div>
            <p class="coupon-input form-row-last">
                <label>ایمیل<span class="required">*</span></label>
                <input type="text" name="Email">
            </p>
            <p class="coupon-input form-row-last">
                <label>رمز عبور <span class="required">*</span></label>
                <input type="password" name="password">
            </p>
            <p class="coupon-input form-row-last">
                <label>تکرار رمز<span class="required">*</span></label>
                <input type="password" name="Repassword">
            </p>
            <div class="clear"></div>
            <p>
                <button class="button-login" type="submit">ثبت نام</button>
            </p>
        </form>
    </div>
</div>